        *{
        box-sizing: border-box;
        }
        body,html {
            width: 100%;
            max-height: 100%;
            padding: 0;
            margin: 0;
        }
        .container-sm{
            max-width: 90%;
        }
        #input-box{
            /*border:1px solid red;*/
            width:500px;
            height:50px;
            margin-top: 50px;


        }
        #input{
            width:90%;
            padding: 5px 5px;
            /*border-radius: 3%;*/


        }
        #input:focus{
            outline: none;
            border-color: pink;
            box-shadow: none;

        }
        #addOn .bi {
            margin-top:1px;
            font-size: 18.5px;
            display: block;
           color: #f16e85;


        }
        .container {
            margin:auto;
            width:500px;


        }
        #nav{
            width:100%;
            height: 35px;
            /*border:1px solid red;*/
            display: flex;
            justify-content: center;
        }
        .btn{
            display: inline-block;
            margin-left: 10px;
            text-decoration: none;
            width:90px;
            box-shadow: 1px 2px 3px #000 ;
            background-color: white;
            margin-bottom: 5px;
            color: #f5667e;


        }
        .btn:hover{
            background: radial-gradient(rgb(250, 250, 250) 20%, rgb(238, 233, 233) 80%);
            /*box-shadow: 1px 1px 2px #f1eded inset;*/
             /*background: linear-gradient(-45deg,rgb(248, 248, 243), rgb(236, 234, 234));*/
        }
        .btn:focus{
            background: radial-gradient(rgb(250, 250, 250) 20%, rgb(238, 233, 233) 80%);
            box-shadow: 1px 1px 3px #000 inset;
            color:gray;

        }


        #list{
            margin-top:5px;
            height:600px;
            box-shadow: 1px 2px 4px #696767;
            width:50%;
            margin: auto;

        }
        #list #listIn{
            height:100%;

            /*list-style: none;*/
            padding-top: 30px;
            margin-top:10px;

             /*border:1px solid red;*/

        }
        #listIn li {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: rgba(128, 128, 128, 0.7);
            padding-bottom: 5px;
            width: 90%;
            height: 30px;
            line-height: 30px;
            font-size: 19px;
            margin-bottom: 20px;
            /*border: 1px solid red;*/
        }
        p{
            display: inline-block;
        }

        .bi-app{
            float:right;
            cursor: pointer;
            font-size: 22px;
            display: block;

        }
        .bi-check2{
            float:right;
            cursor: pointer;
            font-size: 24px;
            color:green;
        }
        .remove{
    /*border:1px solid blue;*/
            width:10%;
            display: inline-block;
            height:100%;
            float:right;
            font-size: 80%;
            text-align: center;
            cursor: pointer;
            color: red;
        }
        .remove:hover{
            color:purple;
        }
        .edit{
            width:10%;
            display: inline-block;
            height:100%;
            font-size: 80%;
            float:right;
            line-height: 30px;
            text-align: center;
            cursor: pointer;
            color: blue;
            /*border:1px solid red;*/
            margin-left: 5px;
        }
        .edit:hover{
            color:purple;
        }
        .state:hover{
            color:gray;
        }
        #blur{
            width:100%;
            max-height:100%;
            position: absolute;
            background-color: gray;
            opacity: 0.3;
            display: none;
        }
        #edit{
                width:400px;
                height :200px;
                background-color: white;
                position:absolute;
                margin:auto;
                top:30%;
                z-index: 1000;
                left:0;
                right:0;
                display:none;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
                border:2px solid pink;
                padding-left:2px;
}
        #edit #h_edit{
            margin-left: 3%;
        }
#edit label{
    display: block;
    font-size: 22px;
    margin-left:5%;
    margin-bottom: 10px;
}
#edit input{
    display: block;
    width:80%;
    height:35px;
    line-height: 35px;
     margin-left:5%;
    font-size: 18px;

    padding-left: 3px;
    margin-bottom: 15px;
}
#close{
    margin-right: 10px;
    /*padding :6px 10px 6px 10px;*/
    /*border-radius: 5px;*/
    margin-top: 20px;
    float:right;
    border:none;
    cursor: pointer;
    font-size: 22px;
    /*box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);*/
    /*background-color: #e52a3c;*/
}
#edit_btn{
     margin-left: 5%;
    padding :5px 15px 5px 15px;
    border-radius: 5px;
    /*margin-top: 15px;*/
    border:none;
    cursor: pointer;
    background-color: #a1a2a0;
}
#main-page{
    width:100%;
    height:100%;
}
#close{
    color: #f63c5d
}
#close:hover{
   color: gray;
}


